/* Estilos para o modo claro */

body .no-border {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

body .no-border th,
body .no-border td {
    padding: 10px;
    text-align: left;
    border: none;
}


body.dark .no-border th,
body.dark .no-border td {
    color: var(--text-color);
}
