{% extends "base.html" %}
{% load static  %}

{% block 'title' %}
    Django Framework

{% endblock 'title' %}

{% block 'head' %}
    
    {# "CSS" #}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    

{% endblock 'head' %}
{% block 'sidebar' %}

<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src={% static "images/TreeBankLogo.png" %} alt="">
            </span>
            <div class="text logo-text">
                <span class="name" color="Green">TreeBank</span>
                <span class="profession">Olá, {{user.name}}</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="{% url "home" %}">
                        <i class='bx bx-home-alt icon' ></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url "view_extract" %}">
                        <i class='bx bx-history icon' ></i>
                        <span class="text nav-text">Histórico</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-pie-chart-alt icon' ></i>
                        <span class="text nav-text">Analytics</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-wallet icon' ></i>
                        <span class="text nav-text">Wallets</span>
                    </a>
                </li>

            </ul>
        </div>

       <div class="bottom-content">
            

         {% if user.is_authenticated %}
         <li class="logout-item">
           
           <form action="{% url 'logout' %}" method="post">
             {% csrf_token %} 
             <button class="logout-button" type="submit">
                 <i class='bx bx-log-out icon' ></i>
                 <span class="text nav-text">Logout</span>
             </button>
           </form>
           
         </li>
         {% else %}
         <li class="nav-link">
           <a href="{% url "login" %}">
               <i class='bx bx-log-in icon' ></i>
               <span class="text nav-text">Login</span>
           </a>
         </li>
         <li class="nav-link">
         <a href="{% url "signup" %}">
             <i class='bx bx-user icon' ></i>
             <span class="text nav-text">Cadastar-se</span>
         </a>
         </li>
         {% endif %}
         <li class="mode">
               <div class="sun-moon">
                   <i class='bx bx-moon icon moon'></i>
                   <i class='bx bx-sun icon sun'></i>
               </div>
               <span class="mode-text text"></span>

               <div class="toggle-switch">
                   <span class="switch"></span>
               </div>
         </li>
            
       </div>
    </div>

</nav>

{% endblock 'sidebar' %}


{% block 'main' %}
        
    {% block 'content' %}
        
    {% endblock 'content' %}
        
{% endblock 'main' %}


{% block 'scripts' %}
    
{# JS do Projeto #}
    <script src="{% static "js/base.js" %}"></script>
    
{% endblock 'scripts' %}
