.home h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.home p {
    font-size: 18px;
    margin-bottom: 15px;
}

.home h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid #000000;
    margin: 10px 0px; /* Espaçamento acima e abaixo da linha */
    width: 280px;
}

body.dark  h1,
body.dark p,
body.dark h2,
body.dark  a {
    color: var(--text-color);
}

.formLogin {
    position: absolute;
    right: 235px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 45px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;

    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 21px;
    color: #1e1e1e;
    font-weight: 600;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1.5px solid #e1e1e1;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #02b177;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #02b177;
}

body.dark label {
    font-size: 20px;
    background-color: var(--body-color);
    color: var(--text-color);
}

.btn {
    background-color: #02b177;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #02b177;

}
/* Estilos para o formulário de login */
.form-fields {
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 10px;
}

.form-field label {
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.form-field .errorlist {
    color: red;
    margin-top: 5px;
}